body{
	font-family: arial;
}

.despesa {
	font-weight: bold;
	color: red;
}

.receita {
	font-weight: bold;
	color: green;
}

div.login {
	margin-left: auto;
    margin-right: auto;
}

table.movimentacoes tr td{
	border: 2px solid black;
}

table.movimentacoes th{
	font-size: 1.1em;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #003399;
    color: #ffffff;
}